
/*Titulares */
h1,h2,h3{ .notosans; margin:0 0 20px; font-weight: 400;}

/* Enlaces */
a{ color:@azul; text-decoration: underline; .notosans; cursor: pointer;
    &:hover{text-decoration: underline;}
}

h1 a, h2 a, h3 a, h4 a{text-decoration: none;}

h2,h1{color:@verde;font-size: 24px;line-height: 22px;border-bottom: 1px solid @gris_linea; padding-bottom: 5px; font-weight: 700;}
h3{color:@verde;font-size: 16px;border-bottom: 1px solid @gris_linea; padding-bottom: 5px; font-weight: 700;}
h4{color:@negro_t;font-size: 14px; margin-bottom: 5px; .arial; font-weight: 400;}

/* Textos */
p{margin:0 0 20px; text-align: justify;}

/* Imágenes */
img{}

/* Listados */
ul{}
ul li{}

/* Tablas */
table{width: 100%;}

.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid @gris_oscuro;
    display: inline-block;
}
.a-right{text-align: right;}
.clearboth{clear: both;}
.f-left{float: left;}
.f-right{float:right;}
.margin-right{margin-right: 20px;}
.margin-bottom{margin-bottom: 20px;}
.mbless{margin-bottom: 10px;}
.cplus:after
{
    content: "+";
}
.marginZero{margin:0!important;}

/*------------------------
* CABECERA 
*-------------------------
*/
#logo{float:left; margin-top: 20px; border: none; padding: 0;
      a{ background: url("../images/logo.png") no-repeat left top; width:179px; height:39px; display: block; text-indent: -1000em;}
}
#header-user-info{float: right;
    a.userlink{color: @gris_letra; text-decoration: none; line-height: 17px;}
    div{float:left;}
    #user-access{position:relative;
        a:hover{text-decoration: underline;}
        .welcome a.account{margin-right: 10px; color: @azul;}
        .caret{padding: 0 0 2px; margin: 0 3px;}
        #user-login-wrapper{
            .dropdown-menu{position: absolute; top: 18px; left: 0;z-index: 100; background: #fff; padding: 10px 15px; border: 1px solid #C7C9D0;}
            .error{font-size: 10px; float: none;}
        }
        
    }
    #currency{font-size: 16px;
        span{margin: 0 0 3px 3px;}
    }
}


/* BUSCADOR PRINCIPAL */
#header-search{margin: 27px 0 0 100px; float: left;
    #searchweb{ width: 395px;float: left;}
    button{background: @gris_forms url("../images/lupa.png") no-repeat center top; text-indent: -1000em; width: 25px;
        &:hover{background-position: center bottom;}
    }
}
/* FILTRO DE PRECIOS SLIDER */
#desplazador2.ui-slider-horizontal{ height: 0.4em; width: 30%; margin-bottom: 20px!important;}
#desplazador2.ui-slider .ui-slider-handle{ height: 0.8em; width: 0.8em;}

/* CARRITO */
#shopping-cart{clear: right;
    background: url("../images/carrito.png") no-repeat left center; float:right;
    a.cesta{ text-decoration: none; width: 110px; height: 70px; display: block; position: relative;
        &:hover .shopping-cart-text{color:#262626;}
        .caret{position: absolute; right:0; bottom:8px;}
        .shopping-cart-text{font-size: 16px; color: @gris_oscuro; display: block; position: absolute; bottom: 3px; right: 13px;}
        .shopping-cart-total{font-size: 24px; .notosans; font-weight: 700; color: @negro_t; position: absolute; top:30px; left:50px;}
    }
    #listado_cesta{ position: absolute; right: 0; top:85px; z-index: 1000; background: #fff; width: 240px; border: 1px solid #ccc; padding: 7px;
        li{list-style: none;
           .shopping-cart-product {
                .image{float: left; text-align: center; width: 40px; margin: 0 5px 0 0;}
                .info { color: #666666; font-size: 11px; float: left; width: 193px; padding: 3px 0 0;
                   .title{color: #262626; display: block; font-size: 14px;}
                   .delete-libro{font-size: 18px;float:right;}
                }
            }
        }
    }
}

/* MENU PRINCIPAL*/
#nav{clear:both;
    ul{text-align: center; 
       li{display:inline-block; margin-left: 20px; padding-left: 20px; border-left: 1px solid @gris_oscuro;
           a{font-size: 24px; text-decoration: none;color: @gris_oscuro; 
              &:hover{color:@negro_t;}
           }
       }
       li.active a{color: @negro_t;}
       li.first{margin: 0; padding: 0; border: 0;}
    }
}
/*----------------------------
* BREADCRUMB
*---------------------------*/
.breadcrumbs { font-size: 12px; line-height: 1.25; margin: 0 0 13px;
    li{display: inline;}
}
/*----------------------------
* CONTENIDO
*---------------------------*/
/*slider home*/
#slider-home{position: relative;
    a{/*height: 205px; display: block;*/
        h2{border: none; .arial; color:@negro; font-weight: 700; font-size: 55px; text-transform: uppercase; line-height: 41px;
            span{font-weight: 400; color: @rojito;}
        }
        .text-slider{
            h3{color:@negro; font-size: 14px; border: none; font-weight: 400; padding: 0;
               span{color: @rojito;}
            }
            h4{color:@blanco; display: block; font-weight: 700;
               span{font-size: 35px; display: block;}
            }
        }
    } 
    a.slider01{
        h2{top:83px; left: 80px; position: absolute;
           span{display: block;}
        }
        .text-slider{position: absolute; top: 40px; right: 153px; width: 230px;
            h3{
               span{color: @rojito;}
               span.solo{font-size: 47px; display: block; line-height: 37px;}
               span.ofertas{font-weight: 700; font-size: 21px; display: block;}
            }
            h4{position: absolute; width: 68px; top: 86px; margin: 0; text-align: center;
               span{ margin: 5px 0 8px;}
            }
            h4.vie{left:-3px;}
            h4.sab{left:83px;}
            h4.dom{left:169px;}
        }  
    }
    
    a.slider02{ background:#f6f6f6; height:205px; display:block; text-decoration:none;
        h2{ position:absolute; left:132px; top:33px;
        }
        .text-slider{
            h3{ position: absolute; left:153px; top:84px; font-size: 25px;
               span{color: @rojito;}
            }
            h4{ position:absolute; bottom:50px; right: 125px; padding:3px 9px; background:@negro;.rounded-corners(9px);
            }

        }  
    }
}
/*----------------------------
/* LIBROS DESTACADOS EN HOME 
*---------------------------*/
 .wrapper-row{margin-bottom: 25px;
    .product{width: 130px; float: left; height: 320px; margin-right: 17px;
        .wrapper-thumb{display:table-cell;vertical-align:bottom; height: 207px;
            img{vertical-align: bottom;}
        }
        h3{min-height: 60px; font-size:14px; margin:3px 0 0; border:none; font-weight: 400;padding: 0;
            a{color:@negro_t; .arial;
                &:hover{text-decoration: none;}
            }
            span{color:@gris_letra; display: block;}
        }
        .content-price{float: left;margin: 18px 0 0;}
        .btn{float: right;}
        .price-box{ width: 130px;}
    }
    .last-product{margin-right: 0;}
 }
 
 .content-price {
    p{margin: 0; .notosans;}
    .price{color:@negro_t; font-weight: 700; font-size: 16px; }
    .old-price{text-decoration: line-through; color: @gris_oldprice; font-size: 13px;}
}
.btn{background: @azul;color:@blanco; .rounded-corners(3px); font-weight: 700;font-size: 15px;padding: 9px 7px; text-decoration: none; display: block;text-align: center;
    &:hover{
        color:@blanco;background: @azul_oscuro; text-decoration: none;
    }}


/*----------------------------
* SECCION LIBROS: LISTADO DE LIBROS
*---------------------------*/
.product-list{border-bottom:0.08em solid rgba(0, 0, 0, 0.05); padding-bottom: 20px; margin-bottom: 20px;
    h3{margin-bottom: 5px; border:none; font-weight: 400; padding: 0;
       a{ color:@negro_t; font-size: 18px;
       &:hover{text-decoration: none;}}
       span{ display: block; font-size: 14px; color: @gris_letra;}
    }
    .price-box{float: right;
        .content-price{
            p{text-align: right;}
            .price{font-size: 22px;margin-bottom: 5px;}
            .old-price{font-size: 15px;}
        }
        .btn{font-size: 18px;}
    }
    a.wrapper-thumb{ float: left;}
}

.toolbar-top {
    p{background: #f9f9f9; padding: 4px 8px; font-size: 13px;
        span{font-weight: 700;}
        .sorter{float:right;
            a{font-weight: 400; text-decoration: none;
            &:hover{text-decoration: underline;}}
            a.active{text-decoration: underline;}
        }
    }
}
.toolbar
{
    ol{display: inline;
       li{display: inline; margin: 0 2px;}
    }
}

.toolbar-bottom .pages{text-align: center;}

/*----------------------------
* FICHA DEL LIBRO
*---------------------------*/

.contenido-ficha-center{margin: 0 0 0 34px; width: 405px;
    h1{ margin-bottom: 5px; }
    h2{ color: @gris_letra; font-size: 14px; padding: 0; margin: 0;border: none;
        span{font-weight: 400;}
        .editorial{text-transform: uppercase; margin-right: 5px;}
        .isbn{margin-right: 5px;}
        .separador{margin: 0 5px;}
    }
}
/*galeria*/
#product-gallery{position: relative;}
#product-gallery:hover .hoverimage { display: block; }
.hoverimage { position: absolute; top: 120px; left: 80px; display: none; }
#product-gallery a:hover{}
#product-gallery img.foto-ficha{width: 240px;}
#product-gallery-thumbs{ margin: 0 0 33px;
    li{display: inline; list-style: none;}
}
#product-gallery-thumbs img, .row-leidos img{width: 57px;}
/* tabs */

#tabs{ margin-bottom:20px;
    .ui-tabs-panel{ font-size: 13px; text-align: justify; color: @gris_letra;}
}

/*los más leidos*/
.row-leidos{margin-bottom: 10px;
    h4{
        span{display:block;color: @gris_letra; font-size: 12px;}
    }
    a{
        img{float:left; margin: 0 12px 0 0;}
    }
    .old-price{margin-right: 10px;}
}

/* puntuar */
.content-rating{
/*    a{margin-right: 240px;}*/
    img{margin: 5px 0 0;}
}

/* comentarios */
.content-coment
{
    p{font-size: 12px;margin-bottom: 10px;
      span{color:@negro_t; font-weight: 700;}
    }
    #sendComment 
    {
        input[type='text']{width: 225px; margin-bottom: 8px;}
        textarea{width: 385px;}
        input[type='submit']{float:right; margin: 10px 0 0;}
    }    
}


/* Bloque Comprar */
#wrapper-qty{background: @gris_forms; padding: 20px; margin-bottom: 10px; text-align: center;
    label{color:@negro_t;}
    .price-box{width: 150px; margin: 15px auto 0;
       .price{font-size: 24px;}
       .old-price{font-size: 18px; margin: 0 10px 0 0;}
       .btn{font-size: 18px; margin: 5px 0 0;}
    }           
}

.btn-checkout{background: @rojo;font-size: 18px;
&:hover{background: @negro_t;}}


/* quien a leido este libro */
#who-read{background: @gris_forms; padding: 20px;
          p{color: @negro_t; text-align: left;}
}

/*ratings, valorar libro */

.rating-f .br-widget,.rating-e .br-widget {
    height: 24px;
}

.rating-f .br-widget a,.rating-e .br-widget a {
    background: url('images/star.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

.rating-f .br-widget a:hover,
.rating-f .br-widget a.br-active,
.rating-f .br-widget a.br-selected,
.rating-e .br-widget a:hover,
.rating-e .br-widget a.br-active,
.rating-e .br-widget a.br-selected{
    background-position: 0 24px;
}
.br-current-rating{padding: 5px 0 0 10px; float:left;}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio : 1.5),
(min-resolution: 192dpi) {
    .rating-f .br-widget a {
        background: url('images/star@2x.png');
        background-size: 24px 48px;
    }
}
/*-----------------------
* Página de Autores
*-------------------------*/
.content-letra{
    float: left;
    width: 21%;
    margin: 0 50px 0 0;
}
.content-autor{margin:0 0 20px 0;}
.content-autor img{height:40px;}
.content-autor li{list-style:none; display:inline;}
p.letra{font-weight:bold; color:@azul;.notosans; font-size:30px;}

/*-----------------------
* COLUMNA izquierda
*-------------------------*/

#category-list ul{
    li{line-height: 24px;
        a{font-size: 18px;text-decoration: none;color:@negro_t;
            &:hover{color: @gris_oscuro;}}
    }
    ul{padding: 0 0 0 10px;
       a{font-size: 16px; color: @gris_oscuro;}
    }
}

.tweet-header h3 a{font-size: 80%;}
.last-tweets p span{color: @negro_t;font-size: 85%;}

/*------------------------
* FOOTER 
*-------------------------
*/

footer
{
    h4{color:@verde; font-size: 24px; line-height: 45px; margin: 0;
        .icon{ background: url(../images/ico-footer.png); height: 45px; width: 36px; display: block; margin-right: 5px;}
    }
    p{font-size: 12px;}
    li{list-style: none;
       a{ color:@gris_oscuro; text-decoration: none; .arial;}
    }
    /*Redes sociales*/
    #footer-social-wrapper{padding: 10px 0; border-color: @gris_linea; border-style: solid; border-width: 1px 0;
        h4.label{float:left; line-height: 28px; margin: 0 10px;}
        #footer-follow-links a{width: 32px; height: 32px; background: url(../images/social.png); background-repeat: no-repeat; display: block; text-indent: -1000em; float: left; opacity: 0.7;
            &:hover{opacity: 1;}
        }
        #footer-follow-links a.fb{background-position: left top;}
        #footer-follow-links a.tw{background-position: -34px top;}
        #footer-follow-links a.yt{background-position: -68px top;}
        #footer-follow-links a.go{background-position: right top;}
        
    }
    #footer-top-wrapper{padding: 20px 0;
        .footer-left{border-right: 1px solid @gris_linea; padding: 0 25px 0 0; margin: 0 23px 0 0;
                     #footer-links{
                         .f-nosotros{
                             .icon{background-position: left top;}
                         }
                         .f-tienda{margin: 0 25px;
                             .icon{ background-position: -40px top;}
                         }
                         .f-ayuda{
                             .icon{ background-position: -80px top;}
                         }
                     }
        }
        /*Atención al cliente*/
        #footer-right{
            #cusomter-service{margin-bottom: 10px;
               .icon{background-position: right top;}
               span{font-weight: 700;}
            }
            #newsletter-footer{
                label{color:@verde; font-size: 24px; .notosans; margin-right: 15px; }
                input[type='text']{width: 160px;}
                button{ background: @gris_forms url("../images/add.png") no-repeat center top; text-indent: -1000em; width: 20px;
                    &:hover{background-position: center bottom;}
                }
            }
            
        }
    }
    #footer-bottom{border-top: 1px solid @gris_linea;padding: 3px 0 1px;}
}

#footer-links ul,#cusomter-service div,#newsletter-footer{margin: 0 0 0 41px;}

/*
* Login Form
*/
#registrar-form{width: 400px;}
.new-users, .registered-users{width: 45%; margin-bottom: 20px;}
.field{margin-bottom: 5px;}
.error{font-weight: 700; color:@rojo; background-color: #F2DEDE; padding: 3px 10px;}
.successful{font-weight: 700; color:@verde; background-color: @verdeclaro; padding: 3px 10px;}


/*-----------------------
* Update User Form
*-------------------------*/
.update-user{width: 60%;
            td{padding-bottom: 10px;}
}

/*-----------------------
* Carrito de la compra
*-------------------------*/
.totals{width: 25%; margin: 20px 0;}
#table-cart tfoot td{padding: 25px 0;}
#table-cart thead{border-bottom: 1px solid #C7C9D0;}
#table-cart thead th{line-height: 14px;}
#table-cart tbody td{
    vertical-align: middle;
    padding-bottom: 6px;
    padding-top: 12px;
}

#shopping-cart-totals-table tfoot .price{font-size: 20px;}
#shopping-cart-totals-table tfoot td{padding: 5px 0;}
.totals .btn-checkout{margin: 20px 0;}

/*-----------------------
* Resumen del pedido
*-------------------------*/
#resumen-pedido{
    tbody td{vertical-align: middle;
         input[type=number]{border: none; text-align: center;}
    }
    
}

/*-----------------------
* Formulario de contacto
*-------------------------*/
#ibox_content,#ibox_footer_wrapper a{background: #fff;}
#ibox_wrapper{background:#1BA4F0;}
#contact-form{
    padding: 10px;
    td{vertical-align: top; padding-bottom: 5px;}
    textarea{width: 200px; height: 60px;}
    .error{margin-bottom: 10px;}
}